@import './variables.css';

.block-element {
    --position-x: 0px;
    --position-y: 0px;

    font-family: 'Open Sans', sans-serif;

    background-color: rgb(47, 47, 47);
    color: white;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 5px;
    padding: 4px 8px 4px 8px;

    width: max-content;
    height: max-content;
    
    position: absolute;
    min-width: 140px;
    min-height: 0px;

    left: calc(50vw + var(--board-x) * var(--board-zoom) + var(--position-x) * var(--board-zoom));
    top: calc(50vh + var(--board-y) * var(--board-zoom) + var(--position-y) * var(--board-zoom));

    transform: translate(-50%, -50%) scale(var(--board-zoom));
}

.block-title {
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.block-content {
    display: flex;
    min-height: 0px;
    margin-top: 3px;
    padding-block: 4px;

    border: 1px solid rgba(27, 27, 27, 0.234);
}

.block-inputs {
    flex-grow: 1;
    
    text-align: left;
}

.block-outputs {
    flex-grow: 1;
    
    text-align: right;
}

.block-output {    
    text-align: right;
}

.block-input {    
    text-align: left;
}

.block-row {    
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-inline: 5px;
}

.block-ball {
    background: var(--color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.block-output .block-ball::after {
    background: var(--color);

    width:15px;
    height: 15px;
    border-radius: 50%;

    content: "";
    position: absolute;
    transform: translate(35px);
}

.block-input .block-ball::after {
    background: var(--color);

    width:15px;
    height: 15px;
    border-radius: 50%;

    content: "";
    position: absolute;
    transform: translate(-35px);
}