@import './variables.css';

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: -webkit-linear-gradient(bottom,#161616 1px, transparent 1px), -webkit-linear-gradient(left, #161616 1px, #1c1c1c 1px);
    background-image: -moz-linear-gradient(bottom,#161616 1px, transparent 1px), -webkit-linear-gradient(left, #161616 1px, #1c1c1c 1px);
    background-image: -o-linear-gradient(bottom,#161616 1px, transparent 1px), -webkit-linear-gradient(left, #161616 1px, #1c1c1c 1px);
    background-image: -ms-linear-gradient(bottom,#161616 1px, transparent 1px), -webkit-linear-gradient(left, #161616 1px, #1c1c1c 1px);
    background-image: linear-gradient(bottom,#161616 1px, transparent 1px), -webkit-linear-gradient(left, #161616 1px, #1c1c1c 1px);
    background-repeat: repeat, repeat;
    background-size: calc(50px * var(--board-zoom)), calc(50px * var(--board-zoom));

    background-position-x: calc(50vw + calc(var(--board-x) * var(--board-zoom)));
    background-position-y: calc(50vh + calc(var(--board-y) * var(--board-zoom)));

    width: 100vw;
    height: calc(50px * var(--board-zoom));
}

canvas {
    /* background-color: black; */
}